* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f6f8;
  color: #222;
}

/* HEADER (same blue vibe) */
header {
  background: #0a2540;
  color: white;
  text-align: center;
  padding: 35px 20px;
}

header p {
  margin-top: 6px;
  opacity: 0.9;
}

/* TOP BUTTONS */
.top-buttons {
  margin-top: 18px;
}

.top-buttons a {
  display: inline-block;
  margin: 0 8px;
  padding: 9px 16px;
  background: #ffffff;
  color: #0a2540;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.3s;
}

.top-buttons a:hover {
  background: #dbe7ff;
}

/* SECTIONS */
section {
  background: white;
  max-width: 900px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 8px;
}

h2 {
  color: #0a2540;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

/* PROJECT CARD */
.project-card {
  border: 1px solid #ddd;
  padding: 18px;
  border-radius: 8px;
  margin-top: 10px;
}

.project-card a {
  display: inline-block;
  margin-top: 10px;
  color: #0a2540;
  text-decoration: none;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 15px;
  background: #e1e5ea;
  margin-top: 30px;
}
